{% extends "base.html" %}
{% block titulo %}Autentique-se{% endblock %}
{% block conteudo %}
{% if form.has_errors %}
<p>Seu usuário e senha não confere.
Tente novamente.</p>
{% endif %}
<form method="post" action=".">
{% csrf_token %}
<table>
<tr><td><p><label for="id_username">login ou email:</label></td>
<td>{{ form.username }}</p></td></tr>
<tr><td><p><label for="id_password">senha:</label></td>
<td>{{ form.password }}</p></td></tr>
<input type="hidden" name="next" value="{% url review:index %}" />
<tr><td><input type="submit" value="login" /></td></tr>
</table>
</form>

{% endblock %}