{% extends "base.html" %}
{% block titulo %}Autentique-se{% endblock %}
{% block conteudo %}
<form method="post" action=".">
{% csrf_token %}
<table>
<tr><td><p><label for="id_old_password">Senha antiga:</label></td>
<td>{{ form.old_password }}</p>{{ form.old_password.errors }}</td></tr>
<tr><td><p><label for="id_new_password1">Nova senha:</label></td>
<td>{{ form.new_password1 }}</p>{{ form.new_password1.errors }}</td></tr>
<tr><td><p><label for="id_new_password2">(Repita) Nova senha:</label></td>
<td>{{ form.new_password2 }}</p>{{ form.new_password2.errors }}</td></tr>
<input type="hidden" name="next" value="{% url review:index %}" />
<tr><td><input type="submit" value="Mudar senha" /></td></tr>
</table>
</form>

{% endblock %}
